@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: grey;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
