@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background: grey;
}

.thin-scrollbar::-webkit-scrollbar {
  height: 4px;
}

.thin-scrollbar::-webkit-scrollbar-thumb {
  background: #3a3a3c;
  border-radius: 2px;
}

.thin-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
